/* 16px=base sizw=1em */
/* div{

   width: 100px; 
   background-color: red;
} */

/* usually use % */

/* 1vh=1% of screen view high
   1wh=...of width
*/

*{
    margin: 0;
}

/* flex!! on the past we need to use flow or table */
main{display: flex;
flex-wrap: wrap;

}

div{
    width: 50%; 
    background-color: blue;
}
/* smaller unit so it would be 50% of div */
div p {
width: 50%;

}

div:nth-child(2){background-color: red;}
div:nth-child(3){background-color: yellow;}